$dark-mode-color: rgba(0, 0, 0, 0.87);
$light-mode-color: rgb(238, 230, 230);

.full-size {
  max-width: 100%;
  height: 100vh;
  // background: url(./../svg/soup.svg);
  // background-size: contain;
  // background-position: center;
  // background-repeat: no-repeat;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 4px solid $dark-mode-color;
  animation: loader 2s infinite ease;
  display: inline-block;
}

.inner-loader {
  display: inline-block;
  background-color: $dark-mode-color;
  width: 100%;
  vertical-align: top;
  animation: inner-loader 2s infinite;
}

.loader-text {
  transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes inner-loader {
  0% {
    height: 0;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.loader.dark-mode {
  border: 4px solid $light-mode-color;
}

.inner-loader.dark-mode {
  background-color: $light-mode-color;
}
