$text-font: "Montserrat", sans-serif;
$heading-font: "Pacifico", cursive;

$primary-color: #f95738;
$secondary-color: #ffbe0b;
$light-background-color: #ffffff;

$heading-color: #1f1f1f;
$text-color: #444746;
$link-text-color: #0b57d0;

$dark-bg-color: #212121;
$dark-text-color: #ffffff;

$light-notification-background-color: #f2f6fc;

$outline-border-color: #747775;

$navbar-link-hover-color: #e3e3e3;
/**
* Sizes
*/
$mobile-size: 40em;
$medium-screen-size: 64em;
$large-screen-size: 90em;
$extra-large-screen-size: 120em;
$desktop-screen-size: 120.063em;
