a {
  padding: 2px 2px 1px;
  margin: 2px;
  text-decoration: none;
  color: $link-text-color;
  transition: 0.2s all ease;

  &:hover {
    color: darken($link-text-color, 40%);
  }

  .rounded {
    border-radius: 22px;
    border: 1px solid $outline-border-color;
  }
}

.button {
  background-color: $primary-color;
  color: #fff;
  border: none;
  padding: 0.6rem 0.5rem;
  border-radius: 22px;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s all ease;

  &:hover {
    background-color: darken($primary-color, 20%);
  }
  &:active {
    background-color: darken($primary-color, 30%);
  }

  .outline {
    border: 1px solid $outline-border-color;
    border-radius: 22px;
    color: $primary-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $heading-color;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}

span,
p {
  font-family: $text-font;
  font-size: 110%;
  color: $text-color;
}

ul > li,
ol > li {
  margin: 0.5rem 0;
}
.header {
  min-height: 64px;
  h1 {
    padding: 0;
    margin: 0;
  }
  .navbar {
    ul {
      display: flex;
      list-style-type: none;

      > li > a {
        color: $text-color;
        padding: 0.6rem 1rem;

        &:hover {
          background-color: $navbar-link-hover-color;
        }
      }
    }
  }
}

label {
  padding: 0.2rem 0.4rem;
  display: block;
}

input {
  padding: 0.5rem;
  border-radius: 4px;
}
input[type="button"],
input[type="submit"] {
}

input[type="file"] {
}
input[type="checkbox"] {
}

input[type="reset"] {
}
input[type="radio"] {
  display: inline;
}
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="image"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border-radius: 4px;
  width: 100%;
}

textarea {
  width: 100%;
  min-height: 5rem;
  padding: 0.5rem;
  border-radius: 4px;
}

select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
}
