$text-font: "Montserrat", sans-serif;
$heading-font: "Pacifico", cursive;

$primary-color: #f95738;
$secondary-color: #ffbe0b;
$background-color: #ffffff;
$text-color: #000000;

$dark-bg-color: #212121;
$dark-text-color: #ffffff;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  font-family: $text-font;
  background: $background-color;
}

.dark-mode {
  background-color: $dark-bg-color;
  color: $dark-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

span,
p {
  font-family: $text-font;
}

::selection {
  background: $secondary-color;
}
